<nav id="site-menu">
    <div class="content">
        <div class="nav nav-menu" id="menu-left">
            <a href="#" class="nav-link">Nosotros</a>
            <a href="#" class="nav-link">Servicios</a>
            <a href="#" class="nav-link"></a>
        </div>
        <div class="nav" id="menu-logo">
            <a href="#" class="nav-link">
                <img src="assets/logo_mate_invertido.png" class="img-logo" alt="Logo">
            </a>
        </div>
        <div class="nav nav-menu" id="menu-right">
            <a class="nav-link btn btn-outline-light">Iniciar sesión</a>
        </div>
    </div>
</nav>
