<img src="assets/secuencia3/service3003.jpg" alt="Fondo" id="video" class="bg-img bg-bottom">
<div class="service-header">
    <div class="content content-top">
        <h1>{{ title }}</h1>
    </div>
    <div class="content content-bottom">
        <h1>{{ title }}</h1>
    </div>
</div>
<div class="service-content">
    <div class="container">
        <div class="row text">
            <div class="col">
                <span class="lead text-muted">MATE</span>
                <h2 class="title mt-3">{{ title }}</h2>
                <span class="lead excerpt">{{ excerpt }}</span>
            </div>
        </div>
        <div class="row items">
            <div class="col-md-3 item">
                <img src="https://picsum.photos/150/150?random=0">
                <h4>{{services[0]}}</h4>
            </div>
            <div class="col-md-3 item">
                <img src="https://picsum.photos/150/150?random=1">
                <h4>{{services[0]}}</h4>
            </div>
            <div class="col-md-3 item">
                <img src="https://picsum.photos/150/150?random=2">
                <h4>{{services[2]}}</h4>
            </div>
            <div class="col-md-3 item">
                <img src="https://picsum.photos/150/150?random=3">
                <h4>{{services[3]}}</h4>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>