<nav class="navbar navbar-expand-lg navbar-dark position-fixed w-100" id="nav-menu">
    <div class="container">
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">MATE <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Servicios
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">APAF</a>
                        <a class="dropdown-item" href="#">AF</a>
                        <a class="dropdown-item" href="#">AL</a>
                        <a class="dropdown-item" href="#">AA</a>
                        <a class="dropdown-item" href="#">API</a>
                    </div>
                </li>
            </ul>
            <a class="navbar-brand mx-auto" href="#">
                <img src="../../../assets/images/logo_mate_invertido.png" height="50" alt="" loading="lazy">
            </a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Contacto</a>
                </li>
            </ul>
            <a class="btn btn-outline-light">Iniciar sesión</a>
        </div>
    </div>
</nav>
<div class="w-100">
    <div class="row text-light" id="home-content">
        <h1 class="display-1">MATE</h1>
        <h2>Lorem ipsum dolor sit amet.</h2>
    </div>
</div>