$font-size-title: 4.5rem
$service-circle-size: 48px
$transition-time: 300ms


.home-container
  width: 100%
  min-height: 100vh
  height: auto
  position: relative
  .home-video
    width: inherit
    height: inherit
    padding: 0
    margin: 0
    video
      position: fixed
      top: 0px
      left: 0px
      min-width: 100%
      min-height: 100%
      width: auto
      height: auto
      z-index: -1000
      overflow: hidden
  .home-overlay
    width: 100%
    height: 100%
    background: rgba(0,0,0,0.2)
    position: fixed
    top: 0
    left: 0
    z-index: 1
  .home-content
    color: #fff
    position: absolute
    width: 100%
    height: auto
    z-index: 2
    top: 0
    left: 0
    padding: 5rem
    .home-info
      .home-title
        font-size: 4rem
        font-weight:900
        max-width: 60%
    .home-services
      .service
        width: $service-circle-size
        height: $service-circle-size
        position: fixed
        border-radius: 50%
        overflow: hidden
        z-index: 4
        .service-overlay
          width: 100%
          height: 100%
          background: #fff
          opacity: 1
      .service-1
        bottom: 97px
        right: 803px

      #Capa_1
        position: fixed
        bottom: 0px
        right : 0px
        width: 1000px


