<header class="home-container">
    <div class="home-video">
        <video src="assets/mate.mp4" allow="autoplay" preload="auto" autoplay loop muted></video>
    </div>
    <div class="home-overlay"></div>
    <div class="home-content">
        <div class="home-info">
            <h1 class="home-title">{{title}}</h1>
        </div>
        <div class="home-services">
            <div class="service service-1 bg-secondary">
                <div class="service-overlay"></div>
                <div class="service-img">
                    <img src="https://picsum.photos/300?random=1" alt="Service" class="img-fluid">
                </div>
            </div>
            <svg id="Capa_1" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1735.3 780.09">
            <defs>
                <style>.cls-1{fill:none;stroke-miterlimit:10;stroke-width:5px;opacity:0.93;stroke:url(#Degradado_sin_nombre_2);}</style>
                <linearGradient id="Degradado_sin_nombre_2" y1="390.04" x2="1735.3" y2="390.04" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#fff"/><stop offset="1" stop-color="#b0ddff"/></linearGradient>
              </defs>
              <polyline class="cls-1" points="1.42 778.03 300.04 570.99 550.88 674.51 833.57 509.28 903.25 565.02 1132.19 296.26 1325.29 537.15 1446.73 282.33 1512.43 318.16 1623.91 129.04 1733.4 1.63"/>
            </svg>
        </div>
    </div>
    <!-- <img src="assets/grafica.png" class="img-fondo" alt=""> -->
</header>
