<header class="w-100" id="home-header">
    <div class="p-0 header-video">
        <video src="assets/mate .mp4" preload="auto" autoplay loop muted></video>
    </div>
    <div class="header-overlay"></div>
    <div class="container header-content text-light" id="home-content">
        <div class="row">
            <div class="col">
                <h1 class="title">{{title}}</h1>
            </div>
        </div>
    </div>
    <!-- <img src="assets/grafica.png" class="img-fondo" alt=""> -->
</header>
