<img src="assets/185.jpg" alt="background" class="bg-img">
<header class="container-fluid">
    <div class="row">
        <div class="col">
            <h1>¿Quienes somos?</h1>
        </div>
    </div>
</header>
<div id="about-us-content">
    <div class="container">
        <div class="row about-us">
            <div class="col-12 col-md-6 about-us-text">
                <h2>
                    Conocenos
                </h2>
                <p class="lead">
                    Somos una consultoría especializada en la Asesoría Fiscal, Laboral y Administrativa, garantizamos el desarrollo y crecimiento de las organizaciones; brindando alternativas estratégicas de forma segura y práctica.
                </p>
                <p class="lead">
                    Optimizamos los procesos de manera permanente, gestionando la correcta aplicación de forma integral y personalizada.
                </p>
            </div>
            <div class="col col-md-4 about-us-img">
                <img src="assets/logo_mate_silueta.png" alt="MATE" class="img-fluid">
            </div>
        </div>
        <div class="row values">
            <div class="col-12 values-header">
                <h2>Nuestos Valores</h2>
                <span class="lead">La ética, la integridad y la calidad empresarial son los cimientos de nuestra identidad</span>
            </div>
            <div class="col-md-3 value">
                <div class="icon-container">
                    <fa-icon [icon]="faBalanceScale" class="icon"></fa-icon>
                </div>
                <span class="value-title">Ética</span>
                <span class="value-info">
                  Actuamos de forma responsable ante la aplicación de hechos dentro de la empresa, teniendo en cuenta la obligación moral ante nuestros clientes.
                </span>
            </div>
            <div class="col-md-3 value">
                <div class="icon-container">
                    <fa-icon [icon]="faHandshake" class="icon"></fa-icon>
                </div>
                <span class="value-title">Integridad</span>
                <span class="value-info">
                  Contamos con alto sentido de honestidad, confiabilidad y equidad en nuestra operación diaria.
                </span>
            </div>
            <div class="col-md-3 value">
                <div class="icon-container">
                    <fa-icon [icon]="faCheck" class="icon"></fa-icon>
                </div>
                <span class="value-title">Calidad empresarial</span>
                <span class="value-info">
                  Tenemos presentes las expectativas de los clientes para poderlas satisfacer al máximo y superarlas, cumpliendo siempre los requisitos establecidos.
                </span>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>