<header class="text-white service-header" id="apaf-header">
    <div class="header-content header-content-top" id="service1-header-top">
        <h1 class="title">{{ title }}</h1>
        <button></button>
    </div>
    <div class="header-content header-content-bottom" id="service1-header-bottom">
        <h1 class="title">{{ title }}</h1>
        <button></button>
    </div>
    <div class="header-background">
        <img src="assets/apaf/service2001.jpg" id="video" alt="backgound">
    </div>
</header>
<div class="bg-light service-content">
    <div class="container">
        <div class="row header py-5">
            <div class="col text-center">
                <span class="head text-muted">MATE | Servicios de asesoramiento</span>
                <h2 class="title mt-3">{{ title }}</h2>
                <span class="excerpt">{{ excerpt }}</span>
            </div>
        </div>
        <div class="row justify-content-center py-5">
            <div class="col-3 mb-5 items text-center">
                <div class="item-img w-100 mb-3">
                    <img src="https://picsum.photos/150?random=1" class="img-fluid rounded-circle" alt="">
                </div>
                <div class="item-content">
                    <h6 class="d-block w-100">{{services[0]}}</h6>
                    <a href="" class="link">Más información</a>
                </div>
            </div>
            <div class="col-3 mb-5 items text-center">
                <div class="item-img w-100 mb-3">
                    <img src="https://picsum.photos/150?random=2" class="img-fluid rounded-circle" alt="">
                </div>
                <div class="item-content">
                    <h6 class="d-block w-100">{{services[1]}}</h6>
                    <a href="" class="link">Más información</a>
                </div>
            </div>
            <div class="col-3 mb-5 items text-center">
                <div class="item-img w-100 mb-3">
                    <img src="https://picsum.photos/150?random=3" class="img-fluid rounded-circle" alt="">
                </div>
                <div class="item-content">
                    <h6 class="d-block w-100">{{services[2]}}</h6>
                    <a href="" class="link">Más información</a>
                </div>
            </div>
            <div class="col-3 mb-5 items text-center">
                <div class="item-img w-100 mb-3">
                    <img src="https://picsum.photos/150?random=4" class="img-fluid rounded-circle" alt="">
                </div>
                <div class="item-content">
                    <h6 class="d-block w-100">{{services[3]}}</h6>
                    <a href="" class="link">Más información</a>
                </div>
            </div>
            <div class="col-3 mb-5 items text-center">
                <div class="item-img w-100 mb-3">
                    <img src="https://picsum.photos/150?random=5" class="img-fluid rounded-circle" alt="">
                </div>
                <div class="item-content">
                    <h6 class="d-block w-100">{{services[4]}}</h6>
                    <a href="" class="link">Más información</a>
                </div>
            </div>
            <div class="col-3 mb-5 items text-center">
                <div class="item-img w-100 mb-3">
                    <img src="https://picsum.photos/150?random=6" class="img-fluid rounded-circle" alt="">
                </div>
                <div class="item-content">
                    <h6 class="d-block w-100">{{services[5]}}</h6>
                    <a href="" class="link">Más información</a>
                </div>
            </div>
            <div class="col-3 mb-5 items text-center">
                <div class="item-img w-100 mb-3">
                    <img src="https://picsum.photos/150?random=7" class="img-fluid rounded-circle" alt="">
                </div>
                <div class="item-content">
                    <h6 class="d-block w-100">{{services[6]}}</h6>
                    <a href="" class="link">Más información</a>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="bg-primary service-footer">

</footer>
