<header class="text-white service-header" id="apaf-header">
    <div class="header-content header-content-top" id="service1-header-top">
        <h1 class="display-1 title">Mate Top</h1>
    </div>
    <div class="header-content header-content-bottom" id="service1-header-bottom">
        <h1 class="display-1 title">Mate Bottom</h1>
    </div>
    <img src="assets/apaf/service2001.jpg" id="video" alt="backgound" class="header-video">
</header>
<div class="bg-light service-content py-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <p>contenido</p>
            </div>
        </div>
    </div>
</div>

<footer class="bg-primary service-footer">

</footer>